@page
@model WebApplicationAuth.Pages.CardViewModel
@{
}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="text-center border border-2 rounded-3 border-dark bg-dark text-light mb-3 p-3 pb-2" style="width:1056px">

            <h2><strong>MEDICAL CARD № @Model.medicalCard.Id</strong></h2>

        </div>

    </div>

    <div class="row justify-content-center mb-3">

        <div class="col-4">
            <img src="~/images/@Model.medicalCard.ImagePath" class="img-fluid border border-2 border-dark rounded-3 nopoint" alt="" />
        </div>

        <div class="col-6">

            <div class="text-center border border-2 border-dark rounded-3 pt-3 pb-2 mb-3 bg-light">
                <h4>@Model.medicalCard.FIO</h4>
            </div>
            
            <div class="border border-2 border-dark rounded-3 pt-3 p-3 pb-1 mb-3">

                <p><strong>Date of birth :</strong> @Model.medicalCard.DateOfBirth.ToString("dd MMMM yyyy") (@Model.age years old)</p>
                <p><strong>Insuranse number :</strong> @Model.medicalCard.Insurance</p>
                <p><strong>Insuranse account :</strong> @Model.medicalCard.SNILS</p>
                <p><strong>Passport number :</strong> @Model.medicalCard.Passport</p>
                <p><strong>Height (last measurement):</strong> @Model.medicalCard.Height sm</p>
                <p><strong>Weight (last measurement):</strong> @Model.medicalCard.Weight kg</p>
                <p><strong>Current address of residence :</strong> <br /> @Model.medicalCard.Address</p>

            </div>

        </div>


        <div class="row justify-content-center">

            <div class="text-center border border-2 rounded-3 border-dark text-light mb-3 p-3 pb-2" style="width:1056px; background-color:brown">

                @if (Model.patientsIllneses.Any())
                {
                    
                    <div class="row justify-content-center align-items-center">

                        <div class="col-auto p-0">

                            <h2><strong>Warning</strong></h2>

                        </div>

                        <div class="col-auto">

                            <button type="button" data-bs-toggle="modal" data-bs-target="#addIllness" class="btn btn-secondary" style="width:30px; height:30px; display:flex; justify-content:center; align-items:center">
                                <img src="~/icons/plus-white.svg" alt="" class="" style="height:25px" />
                            </button>

                            <div class="modal fade" id="addIllness" tabindex="-1" aria-labelledby="addIllnessLabel" aria-hidden="true">

                                <div class="modal-dialog modal-dialog-centered">

                                    <div class="modal-content">

                                        <div class="modal-header justify-content-center">

                                            <h3 class="text-dark">Add chronic illness</h3>

                                        </div>

                                        <form method="post" asp-page-handler="AddIllness"> 

                                            <div class="modal-body">

                                                <input asp-for="Id" type="hidden" value="@Model.medicalCard.Id" />

                                                <div class="form-group mb-2">
                                                    <label for="illness" class="control-label text-dark mb-1" style="font-size:25px">Illness</label>
                                                    <select name="illness" id="illness" class="form-control" asp-items="ViewBag.Illnesses"></select>
                                                </div>

                                            </div>

                                            <div class="modal-footer justify-content-center">

                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Add</button>

                                            </div>

                                        </form>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <p>

                        Patient has the folowing chronic illneses:
                        @foreach(var i in Model.patientsIllneses)
                        {
                            <strong>@i.Title (@i.Code)</strong>
                            if(i != Model.patientsIllneses.Last())
                            {
                                <strong>, </strong>
                            }
                        }

                    </p>
                }
                else
                {
                    <h2>No chronic illneses</h2>
                }

            </div>

        </div>

        <div class="row border border-1 border-dark rounded-top text-center justify-content-center align-items-center mt-5">

            <div class="col-auto">

                <h3 class="p-2 pb-2 pt-3 col-auto">Patient's appointments</h3>

            </div>

            <div class="col-auto p-0">

                <a asp-area="" asp-page="/AddAppointment" asp-route-id="@Model.medicalCard.Id" class="btn btn-primary m-0 mt-1" style="width:40px; height:40px; display:flex; justify-content:center; align-items:center">
                    <img src="~/icons/plus-white.svg" alt="" class="" style="height:35px" />
                </a>

            </div>

        </div>

        @if(Model.patientsRecords.Any())
        {
            <table class="table table-striped table-bordered text-center">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Document</th>
                        <th>Complaints</th>
                        <th>Symptoms</th>
                        <th>Diagnosis</th>
                        <th>Doctor</th>
                        <th>Prescription</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model.patientsRecords)
                    {
                        <tr style="vertical-align:middle">
                            <td>

                                <button class="border-0" type="button" data-bs-toggle="modal" data-bs-target="#RecordDetialsModal">@c.Id</button>

                                <div class="modal fade" id="RecordDetialsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                                    <div class="modal-dialog modal-dialog-centered">

                                        <div class="modal-content">

                                            <div class="modal-header justify-content-center">

                                                <h3>Record details</h3>

                                            </div>

                                            <div class="modal-body pb-0">

                                                <dl class="row mb-0 " style="margin-left:10px;" >

                                                    <dt class="col-sm-2">
                                                        Id:
                                                    </dt>
                                                    <dd class="col-sm-10">
                                                        @c.Id
                                                    </dd>

                                                    <dt class="col-sm-2">
                                                        Date:
                                                    </dt>
                                                    <dd class="col-sm-10">
                                                        @c.AppointmentDate.ToString("dd MMMM yyyy")
                                                    </dd>

                                                    <dt class="col-sm-2">
                                                        Time:
                                                    </dt>
                                                    <dd class="col-sm-10">
                                                        @c.AppointmentTime.ToString("h\\:mm")
                                                    </dd>

                                                    <dt class="col-sm-2">
                                                        Type:
                                                    </dt>
                                                    <dd class="col-sm-10">
                                                        @c.AppointmentType
                                                    </dd>

                                                    <dt class="col-sm-2">
                                                        Document:
                                                    </dt>
                                                    <dd class="col-sm-10">
                                                        @c.Document
                                                    </dd>

                                                    <dt class="col-sm-2">
                                                        Complaints:
                                                    </dt>
                                                    <dd class="col-sm-10">
                                                        @c.Complaints
                                                    </dd>

                                                    <dt class="col-sm-2">
                                                        Symptoms:
                                                    </dt>
                                                    <dd class="col-sm-10">
                                                        @c.Symptoms
                                                    </dd>

                                                    <dt class="col-sm-2">
                                                        Diagnosis:
                                                    </dt>
                                                    <dd class="col-sm-10">
                                                        @c.Diagnosis
                                                    </dd>

                                                    <dt class="col-sm-2">
                                                        Doctor:
                                                    </dt>
                                                    <dd class="col-sm-10">
                                                        @c.Employer.FIO
                                                    </dd>

                                                    <dt class="col-sm-2">
                                                        Medicine:
                                                    </dt>
                                                    <dd class="col-sm-10">

                                                        <p>
                                                            @foreach (var m in c.Medications)
                                                            {
                                                                @m.Name;
                                                                if (m != c.Medications.Last())
                                                                {
                                                                    <i>|</i>
                                                                }
                                                            }
                                                        </p>

                                                    </dd>
                                                    

                                                </dl>

                                            </div>

                                            <div class="modal-footer justify-content-center">

                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </td>
                            <td>@c.AppointmentDate.ToString("dd-MM-yyyy")</td>
                            <td>@c.AppointmentTime.ToString("c")</td>
                            <td>@c.AppointmentType</td>
                            <td>@c.Document</td>
                            <td style="max-width:200px">@c.Complaints</td>
                            <td style="max-width:200px">@c.Symptoms</td>
                            <td style="max-width:150px">@c.Diagnosis</td>
                            <td>@c.Employer.FIO</td>
                            <td style="vertical-align:middle;">

                                <p class="m-1">

                                    Medicine list
                                    <a class="collapselink" data-bs-toggle="collapse" href="#collapseScript-@c.Id" role="button" aria-expanded="false" aria-controls="collapseScript-@c.Id">+</a>

                                </p>

                                <div class="collapse mb-0" id="collapseScript-@c.Id">

                                    <ul>

                                        @foreach (var m in c.Medications)
                                        {
                                            <li>@m.Name</li>
                                        }

                                    </ul>

                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="row border border-1 border-top-0 border-dark rounded-bottom text-center">

                <h3 class="p-3 pb-2">There is no records</h3>

            </div>
        }

    </div>

</div>
