@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-5 mt-5">Welcome</h1>
    <div class="container">

        <div class="row border border-2 rounded-3 text-start p-3 mb-2" style="width:1191px; margin: 0 auto">

            <p class="mb-1">
                Our system is designed to help you manage patient records, appointments, and much more. With our intuitive interface and powerful features, you'll be able to easily manage all of your medical accounting needs. 
                With our system, you'll be able to quickly and easily search for patient records, view appointments, and add new records. System is designed to be as user-friendly as possible, so you can spend more time focusing on your patients and less time on administrative tasks. 
                We understand how important it is to keep accurate records, and that's why our system is designed with reliability and security in mind. All patient information is securely stored in our database, and only authorized users have access to it. 
                System also includes a variety of reporting features, so you can quickly generate reports on patient visits, revenue, and more. This allows you to make informed decisions about your practice and optimize your operations for maximum efficiency.
            </p>

        </div>

        <div class="row align-items-center justify-content-evenly p-3">

            <div class="col-4 border border-2 rounded">

                @if (Model.Employer != null)
                {
                    <h5 class="mt-3">@Model.Employer.FIO</h5>
                    <hr />
                    <dl class="row p-4 pt-0 pb-0">

                        <dt class="col-5">Specialty:</dt>
                        <dd class="col-7">@Model.Employer.Speciality</dd>

                        <dt class="col-5">Department:</dt>
                        <dd class="col-7">@Model.Employer.Department</dd>

                        <dt class="col-5">Phone:</dt>
                        <dd class="col-7">@Model.Employer.Phone</dd>

                        <dt class="col-5">Email:</dt>
                        <dd class="col-7">@Model.Employer.Email</dd>

                    </dl>
                }

            </div>

            <div class="col-7 border border-2 rounded p-3 text-start">

                <p class="mb-2 mt-2">

                    We hope this message finds you well. We understand that keeping track of your medical appointments and records can be a daunting task, but it is important for maintaining your health and wellbeing. That's why we wanted to remind you of some best practices for managing your medical information.
                    <br />
                    First and foremost, it is crucial to keep a record of all of your medical appointments and procedures. This can help you track your progress over time and provide important information to your healthcare providers.
                
                </p>

            </div>

        </div>
        
    </div>
</div>
