@page
@model WebApplicationAuth.Pages.MedicalCardsModel
@{
}

<div class="container">

    <div class="row text-center">

        <h1 class="display-4">Patients list</h1>

    </div>

    <div class="row mb-4 mt-2 justify-content-center">

        <div class="col-auto align-self-center"> 

            <a class="btn btn-primary pt-2 border border-1 border-dark addbtn">Add new patient</a>

        </div>

        <div class="col-auto align-self-center">

            <form class="row border border-1 border-dark rounded-3" method="post">

                <div class="col-auto align-self-center p-0">
                    <input name="searchText" type="text" autocomplete="off" value="" class="border-0 searchinput" placeholder="Search patient" />
                </div>
                <button type="submit" class="col border-0 rounded-end p-0">
                    <img class="m-1" style="height:2rem; width:2.5rem" src="~/icons/search-svgrepo-com.svg" alt="" />
                </button>

            </form>

        </div>

    </div>

    <table class="table table-striped table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Insurance</th>
                <th>SNILS</th>
                <th>Passport</th>
                <th>Date of birth</th>
                <th>Adress</th>
                <th>Height(sm)</th>
                <th>Weight(kg)</th>
            </tr>
        </thead>

        <tbody>

            @if (Model.cards.Any())
            {
                @foreach (var c in Model.cards)
                {
                    <tr style="vertical-align:middle">
                        <td>@c.Id</td>
                        <td><a asp-area="" asp-page="/CardView" asp-route-id="@c.Id">@c.FIO</a></td>
                        <td>@c.Insurance</td>
                        <td>@c.SNILS</td>
                        <td>@c.Passport</td>
                        <td>@c.DateOfBirth.ToString("dd-MM-yyyy")</td>
                        <td style="max-width:300px">@c.Address</td>
                        <td>@c.Height</td>
                        <td>@c.Weight</td>
                    </tr>
                }
                
                @if (Model.SearchText != null)
                {
                    <tr style="vertical-align:middle">
                        <td colspan="9">
                            Total number of patients found: @Model.cards.Count()
                        </td>
                    </tr>
                }

            }
            else
            {
                <tr class="text-center">
                    <td colspan="9">
                        <h2 class="m-2">No patients found</h2>
                    </td>
                </tr>
            }

        </tbody>

    </table>
    
</div>